.content-scroll-view a{
    text-decoration: underline !important;
    color: #560216 !important;
    font-weight: 550 !important;
}
ul li{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#lefty button{
    margin-top: 3em;
}