* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Roboto", Times, serif;
  text-transform: none;
  text-decoration: none;
  font-weight: normal;
}
h3,
h1 {
  font-weight: bold;
  color: #9d3e55;
}

h4 {
  color: #9d3e55;
  font-size: large;
  font-weight: bold;
  padding-left: 4.5rem;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.application {
  background-image: url("./assets/Untitled\ design.png");
  background-color: red;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 20px 50px 160px 80px;
  position: relative;
  margin-top: -30px;
  margin-bottom: -80px;
}

.application-form-content h1 {
  padding-top: 100px;
  color: #fff;
  font-size: 45px;
  line-height: 2.5;
  font-weight: bolder;
}
.application-form-content b {
  color: #fff;
}

.application-form-content p {
  color: #fff;
  width: 55%;
  font-size: 17px;
  font-weight: lighter;
  line-height: 1.5;
}

.application-form-content ul {
  list-style: none;
  padding-top: 20px;
}

.application-form-content ul li {
  line-height: 2;
}

.application-form-content ul li img {
  height: 20px;
  width: 20px;
  padding: 0 5px;
}

.application-form {
  position: absolute;
  padding: 30px;
  background: #fff;
  width: 28%;
  height: 240px;
  border-radius: 20px;
  float: right;
  right: 80px;
  top: 195px;
  text-align: center;
  line-height: 3;
}

.application-form input {
  border: none;
  border-bottom: 1px solid #333;
  padding: 10px;
  width: 100%;
  font-weight: bolder;
}

.application-form button {
  padding: 12px;
  margin: 28px;
  border-radius: 10px;
  border: none;
  background-color: #560216;
  color: #fff;
  text-transform: none;
}

.application-form button a {
  color: #fff;
  text-transform: none;
}

.application-form button:hover {
  background-color: #20b038;
}

.top-footer {
  background-color: black;
  padding: 30px 60px;
  position: relative;
  width: auto;
}

.top-footer p {
  font-size: 25px;
  color: #fff;
  display: inline;
  font-weight: lighter;
  text-align: center;
  padding-left: 2rem;
}

.top-footer button {
  position: absolute;
  background-color: #560216;
  padding: 7px 28px;
  display: flex;
  top: 22px;
  left: 65rem;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.top-footer button a {
  color: #eee;
  text-transform: uppercase;
}

.top-footer button:hover {
  background-color: #20b038;
}
#flex1 img {
  width: 30px;
}
/*
@media (max-width: 900px) {
    .application-form-content p {
        width: 100%;
    }
    .application-form-content h1 {
        padding-top: 70px;
    }
    .application-form {
        margin: 30px auto;
        float: right;
        position: static;
        width: 90%;
    }
    .application {
         padding-bottom: 350px; 
        padding: 0 20px 350px 20px;
    }
    .top-footer {
        position: initial;
        text-align: center;
        margin:0%;
    }
    /* .top-footer p {} 
    .top-footer button {
        position: initial;
        margin: 20px auto;
    }
}*/

.main-content {
  background-color: #f6d5dd;
  position: relative;
  display: flex;
  gap: 2rem;
}

.right1 {
  background-color: #f6d5dd;
  padding: 15px;
  margin-right: 15px;
  overflow-y: scroll;
  flex: 4;
  padding-left: 50px;
  padding-right: 80px;
  margin-bottom: 5rem;
}
.right1::-webkit-scrollbar {
  width: 0px;
}
.main-content .left {
  position: sticky;
  flex: 1;
  margin: 20px;
  margin-top: 60px;
  padding: 5px 10px 20px 10px;
  background-color: #fff;
  width: 270px;
  height: fit-content;
  border: none;
  border-radius: 20px;
  margin-bottom: 100px;
  top: 110px;
  left: 50px;
}

.main-content .left hr {
  padding: 10px;
  border: none;
  border-top: 2px solid;
  color: rgb(137, 137, 137);
}

.main-content .left p {
  line-height: 1.6;
}

.main-content .left a {
  color: rgb(114, 114, 114);
}

.main-content .left a:hover {
  text-decoration: underline;
  color: #560216;
  font-weight: 550;
}

.main-content h1 {
  padding-top: 40px;
  font-size: xx-large;
  color: #560216;
}

.main-content .necessity ul {
  list-style: none;
}

.main-content .necessity ul li h3 {
  color: green;
  padding: 20px 0 8px 0;
}

.main-content .necessity span a {
  color: green;
}

.main-content .necessity span a:hover {
  color: #560216;
}

.main-content .necessity ul li p {
  line-height: 1.2;
  font-size: smaller;
  text-align: justify;
  opacity: 80%;
  font-weight: 10;
  color: rgb(113, 113, 113);
}

.main-content .necessity .it-file {
  padding: 30px;
  margin-top: 15px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
}

.main-content .necessity .it-file p {
  width: 80%;
  font-weight: bolder;
  color: #560216;
}

.main-content .necessity .it-file button {
  background-color: rgb(0, 138, 0);
  border: none;
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 20px;
  padding: 10px 20px;
}

.main-content .necessity .it-file button a {
  color: #fff;
}

.main-content .necessity .it-file button:hover {
  background-color: #560216;
}

.main-content .necessity li img {
  height: 60px;
  width: 50px;
}

.main-content .necessity .necessity-image td {
  padding: 5px 20px 0 0;
}

.main-content .document {
  padding: 1px 0;
}

.main-content h1 {
  font-size: xx-large;
  color: #560216;
  padding-top: 6px;
}

.main-content .document h2 {
  color: green;
  padding: 20px 0 8px 0;
  font-size: 22px;
}

.main-content .document .huf h3 {
  font-size: 16px;
  padding: 18px 0 10px;
}

.main-content .document .huf ul li {
  list-style: none;
  font-size: 15px;
  line-height: 1.2;
  font-size: smaller;
  text-align: justify;
  opacity: 80%;
  font-weight: 10;
  color: rgb(113, 113, 113);
}

.main-content .document .huf ul li:before {
  content: "\00BB";
  color: #560216;
  font-size: 25px;
  padding-right: 10px;
}

.main-content .document .non-huf-table {
  margin-top: 20px;
  border: 0.1px solid;
}

.main-content .document .non-huf-table th {
  color: #fff;
  background-color: green;
  padding: 20px 40px 20px 10px;
  text-align: left;
}

.main-content .document .non-huf-table td {
  padding: 30px 10px;
  list-style: none;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 10;
  color: rgb(87, 87, 87);
}

.main-content .document .plc {
  padding: 30px;
  margin-top: 40px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
}

.main-content .document .plc p {
  width: 80%;
  font-weight: bolder;
  color: #560216;
  font-size: 17px;
}

.main-content .document .plc button {
  background-color: #560216;
  border: none;
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 20px;
  padding: 10px 20px;
}

.main-content .document .plc button a {
  color: #fff;
}

.main-content .document .plc button:hover {
  background-color: #20b038;
}

.main-content .help h1 {
  padding-top: 35px;
  font-size: xx-large;
  color: #560216;
}

.main-content .help h2 {
  color: #560216;
  padding: 20px 0 8px 0;
  font-size: 22px;
}

.main-content .help ul li {
  list-style: none;
  font-size: 15px;
  line-height: 1.2;
  text-align: justify;
  font-weight: 10;
  color: rgb(0, 0, 0);
}

.main-content .help ul li:before {
  content: "\00BB";
  color: #560216;
  font-size: 25px;
  padding-right: 10px;
}

.main-content .help p {
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: 15px;
  opacity: 80%;
  color: rgb(113, 113, 113);
}
.boxx1 {
  margin-top: 1%;
  margin-bottom: 5.5%;
  margin-right: 60px;
  margin-left: 80px;
}
.boxx1 ul {
  padding-left: -2rem;
}
.heading {
  color: #560216;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 2%;
  padding-left: 30px;
}
li {
  list-style: none;
  padding-top: 2px;
}
.arroww1::before {
  content: "\00BB";
  color: #560216;
  font-size: 30px;
  margin-left: 60px;
  padding-right: 7px;
}

span {
  padding-left: 60px;
}
#over {
  font-size: 40px;
}
.gap {
  padding: 6px;
  padding-left: 2px;
}
#any {
  padding-top: 24px;
}
.pl {
  padding-top: 18px;
}
.ICI ul li::before {
  content: "\00BB";
  color: #560216;
  font-size: 25px;
  padding-right: 10px;
}
.plc button a {
  color: #fff;
}
.plc {
  padding: 30px;
  margin-top: 40px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
  position: relative;
}
.plc button {
  background-color: #560216;
  border: none;
  position: absolute;
  top: 20px;
  right: 30px;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
}
.plc button:hover {
  background-color: #20b038;
}
.plc p {
  width: 80%;
  font-weight: bolder;
  color: #560216;
  font-size: 18.5px;
}
#AD li {
  color: #000000;
}
#AD p {
  color: #000000;
}
#list {
  padding-bottom: 15px;
}

#table1 th {
  background-color: #560216;
}
.ICI li p::before {
  content: "\00BB";
  color: black;
  font-size: 15px;
  padding-right: 10px;
  margin-left: 25px;
}
.ICI li {
  padding-bottom: 4px;
}
#overview {
  font-size: 36px;
  padding-top: 56px;
}
#flexx {
  margin-top: -30px;
}
a:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
#contact {
  border-radius: 8px;
  background-color: #560216;
  width: 300px;
  color: #fff;
  padding: 5px;
  height: 40px;
  border: hidden;
  font-size: medium;
  top: 700px;
  margin-top: 2.5rem;
  margin-left: 1rem;
  border: none;
}
b {
  font-size: large;
  font-weight: bold;
  color: #9d3e55;
}
iframe {
  align-items: center;
  margin-left: 40px;
  width: 800px;
  height: 500px;
}
#contact:hover {
  background-color: #20b038;
}
.check {
  padding: 30px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
  position: relative;
  width: 30%;
  display: inline-block;
  margin-right: 22px;
  /* background-image: url("green tick.png"); */
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center 10px;
}
#lefty {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: min-content;
  width: 25rem;
}
#lefty a {
  padding-left: 20px;
}
#activeTableContentaa {
  height: 280px;
}
#contact {
  width: 20rem;
  text-decoration: none;
}
#contact a {
  text-decoration: none;
}
.main-content .left .Tiactive {
  text-decoration: underline;
  color: #560216;
  font-weight: 550;
}
.top-footer {
  font-weight: bold;
}

/*inline css*/
h3 {
  color: #9d3e55;
  font-size: 1.3rem;
}

td,
th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
  max-width: 100%;
}

table {
  font-family: arial, sans-serif;
  max-width: 100%;
}

.ban {
  /* border: 2px solid red; */
  align-items: center;
  margin-left: 30px;
  text-align: center;
  margin-top: 20px;
}

.ban a {
  text-decoration: none;
  color: #fff;
  /* display: flex; */
  text-align: center;
  padding: 8px;
  background-color: #033810;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

:root {
  --color-text: hsl(248, 10%, 40%);
  --color-text-muted: hsl(248, 10%, 40%);
  --color-purple: #386b4f;
}

/*faq*/
.accordion {
  width: 100%;
  padding: 1.2rem 0;
  border-radius: 1rem;
  background: white;
}

.accordion__heading {
  margin-bottom: 1rem;
  padding: 0 1.4rem;
}

.accordion__item:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.accordion__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.2rem 0.2rem;
  background: white;
  border: none;
  outline: none;
  color: var(--color-text);
  font-size: 1.2rem;
  text-align: left;
  cursor: pointer;
  transition: 0.1s;
}

.accordion__btn:hover {
  color: var(--color-purple);
  background: hsl(248, 53%, 97%);
}

.accordion__item--active .accordion__btn {
  color: var(--color-purple);
  border-bottom: 2px solid var(--color-purple);
  background: hsl(248, 53%, 97%);
}

.fa-lightbulb {
  padding-right: 1rem;
}

.accordion__icon {
  margin-right: 3rem;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  opacity: 0.9;
}

.accordion__item--active .accordion__icon {
  transform: rotate(135deg);
}

.accordion__content {
  font-weight: 300;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  color: var(--color-text-muted);
  transform: translateX(16px);
  transition: max-height 0.5s ease, opacity 0.5s, transform 0.5s;
}

.accordion__content p {
  padding: 1rem 3.5rem;
  font-size: large;
}

.accordion__item--active .accordion__content {
  opacity: 1;
  transform: translateX(0px);
  max-height: 100vh;
}

@media (max-width: 800px) {
  .ban a {
    margin: auto;
    padding: 5px;
  }
}

@media (max-width: 780px) {
  body {
    width: 100%;
    font-family: "Roboto", Times, serif;
    font-size: 100%;
  }
  .application {
    height: 100rem;
  }
  .application-form-content h1 {
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: 70px;
    line-height: 1.5;
    font-weight: bold;
    margin-right: 2rem;
  }
  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: x-large;
    font-weight: bolder;
  }
  .boxx1 li {
    margin-left: -5rem;
  }
  .application-form-content p {
    color: white;
    width: 75%;
    font-size: 40px;
    margin-left: 120px;
    text-align: left;
    font-size: xx-larger;
    margin-left: 3.5rem;
    margin-top: 3rem;
  }
  .application-form-content b {
    font-size: xx-large;
    margin-left: 1rem;
  }
  application-form-content ul li img {
    height: 40px;
    width: 40px;
    padding: 4px 5px;
    margin-left: 4.5rem;
  }
  application-form-content img {
    margin-left: 3.5rem;
  }
  .top-footer {
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    height: 10rem;

    margin: auto;
  }

  .top-footer p {
    font-size: x-large;
    font-weight: bolder;
  }
  .top-footer button {
    margin-top: 6rem;
    margin-left: -50rem;
    height: 3rem;
  }
  #flexx {
    margin-top: 65rem;
    margin-bottom: 2rem;
    height: 19rem;
    width: 26rem;
    margin-right: 6rem;
    font-size: x-large;
    font-weight: bold;
  }
  #lastimg img {
    width: 33rem;
  }

  li {
    font-size: x-large;
  }
  h1 {
    font-size: xx-large;
  }
  iframe {
    margin-left: 3rem;
    width: 37rem;
  }
  .heading {
    margin-right: 2rem;
    font-size: x-large;
  }
  .boxx1 p {
    font-size: x-large;
    padding-left: -5rem;
  }
  .ICI {
    font-size: large;
  }

  #lefty {
    width: 25rem;
    margin-right: 3rem;
    height: 28rem;
    top: -2rem;
    position: absulote;
    display: none;
  }
  .main-content .left {
    position: absolute;
    left: 30%;
    top: 20px;
    height: 50rem;
    margin-left: -95px;
    width: fit-content;
  }
  .right1 {
    position: relative;
    background-color: #f6d5dd;
    padding: 15px;
    margin-right: 15px;
    overflow-y: scroll;
    flex: 4;
    padding-left: 50px;
    padding-right: 80px;
    top: 570px;
    margin-top: -30rem;
  }

  #contact {
    margin-top: 13rem;
    height: 2rem;
  }
  .plc {
    width: 36rem;
    height: 6rem;
    font-size: xx-large;
  }

  .plc button {
    margin-top: 2rem;

    margin-bottom: 2rm;
    margin-right: -1rem;
  }
  p {
    font-size: x-large;
  }
  .ICI p {
    font-size: xxlarger;
  }
}

@media (max-width: 480px) {
  body {
    width: 100%;
    font-family: "roboto", Times, serif;
    font-size: 20%;
  }
  .application {
    height: 75rem;
  }
  .application-form-content h1 {
    /* padding-top: 10px; */
    margin-top: 1rem;
    text-align: center;
    color: white;
    font-size: 50px;
    line-height: 1;
    font-weight: bold;
    /* display: inline; */
    margin-right: 2rem;
    margin-bottom: 2.5rm;
  }
  .necessity1 {
    flex-direction: row;
  }

  #over h1 {
    font-size: medium;
  }
  .application-form-content p {
    color: white;
    width: 75%;
    font-size: 40px;
    margin-left: 120px;
    text-align: left;
    margin-left: 2.5rem;
    margin-top: 2rem;
    font-size: large;
  }
  .application-form-content b {
    font-size: x-large;
    margin-left: 1rem;
  }
  application-form-content ul li img {
    height: 30px;
    width: 30px;
    padding: 3px 5px;
    margin-left: 2.5rem;
  }
  .top-footer {
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 1rem;
    height: 7rem;

    margin: auto;
  }
  .top-footer p {
    font-size: large;
  }
  .top-footer button {
    margin-top: 5rem;
    margin-right: 100rem;

    height: 4rem;
  }
  .boxx1 p {
    font-size: x-large;
    margin-left: -2rem;
  }
  section {
    padding-left: 1rem;
  }
  .boxx1 h3 {
    font-size: large;
    margin-left: -2rem;
  }
  .heading {
    font-size: x-large;
  }

  .right1 {
    position: relative;
    background-color: #f6d5dd;
    padding: 15px;
    margin-right: 15px;
    overflow-y: scroll;
    flex: 4;
    padding-left: 50px;
    padding-right: 80px;
    top: 500px;
    margin-top: -30rem;
  }
  .right1 p {
    font-size: x-large;
    padding-left: -3rem;
    padding: 1rem;
  }
  .main-content h1 {
    padding-left: 1rem;
  }
  .main-content h3 {
    padding-left: 1rem;
    font-size: x-large;
    font-weight: bold;
  }
  #flexx {
    margin-top: 46rem;
    height: 17rem;
    width: 15rem;
    margin-right: -2rem;
    padding-top: -10rem;
  }
  iframe {
    margin-left: 1rem;
    width: 16rem;
    height: 23rem;
  }
  .ICI {
    font-size: large;
  }

  #lefty {
    width: 23rem;
    margin-right: 3rem;
    height: 28rem;
    top: -2rem;
  }
  .main-content li {
    font-size: xxx-larger;
    margin-left: 1rem;
  }

  #contact {
    margin-top: 13rem;
    height: 2rem;
  }
  .plc {
    width: 14rem;
    height: 10rem;
    font-size: large;
  }

  .plc button {
    margin-top: 9rem;
    margin-bottom: 2rm;
    margin-right: 4rem;
  }
  p {
    font-size: x-large;
  }
  .ICI p {
    font-size: xxlarger;
  }
  #lastimg img {
    width: 20rem;
    height: 20rem;
  }
  h3 {
    font-size: large;
  }
  .faq {
    width: 17rem;
  }
}
