
.myCont{
    max-width: 80%;
    margin: auto;
}

section.partner-header-below {
    background: url('./Process Header Image.png');
}

section.partner-experience .button button{
    height: 40px;
    width: 180px;
    font-weight: bold;
    background-color: rgb(77, 7, 7);
    color: white;
    transition: all .3s ease;
}
section.partner-experience .button button:hover{
    background: transparent;
    color: black;
    border: 1px solid;
}

.form-btn button:hover{
    background: transparent;
    color: black;
    border: 1px solid black;
    transition: all .3s ease;
    font-weight: bold;
}

@media (max-width:977px){
    section.partner-experience .wrapper .inner .icon i{
        font-size: 3rem;
    }
    section.partner-experience .wrapper .inner p{
        font-size: 15px;
    }
}

@media (max-width:910px){
    section.partner-experience .wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    section.partner-experience .wrapper .inner{
        display: flex;
        align-items: left;
    margin: auto;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    }
    section.partner-experience .wrapper .inner p{
        text-align:left;
        width: 400px;
        font-size: 25px;
    }
}

@media (max-width:590px){
    section.partner-experience .wrapper .inner p{
        font-size: 16px;
    }
}

@media (max-width:430px){
     section.connect-with-team h1{
        font-size: 30px;
    }
}