
 .reviews h1{
    font-size: 24px;
    /* color: #fff; */
    width: fit-content;
    border-bottom: 2px solid ;
}

.policies{
    margin: auto;
    max-width: 1124px;
}


.policies p{
    font-size: 15px;
    /* color: #fff; */
    
}
.policies h1{
    font-size: 1.5rem;
}


.right-text
{
    text-align: right;
}
.left-text
{
    position: relative;
    text-align: left;
}
